<div class="row-fluid">
    <form name="registration" class="form-horizontal" ng-submit="submitClick()">
        <div class="control-group">
            <input id="usr-email" name="usr-email" type="email" ng-model="userEmail" required placeholder='{{label("label_new_email")}}' disabled>
        </div>
        <div class="control-group">
            <input ng-model="oldpassword" type="hidden" id="usr-old-password"
                   placeholder="{{label('label_old_password')}}" required/>
        </div>
        <div class="control-group">
            <input ng-model="password" ng-change="passStrength()" type="password" id="usr-password" placeholder='{{label("label_new_password")}}' maxlength="32" required/>
            <div class="text-error" ng-show="password.length != 0 && (password.length < 8 || passDoesntContainUpperCase() || passDoesntContainLowerCase() || passDoesntContainNumber || passDoesntContainSymbol)">{{label("label_password_prerequisites_part1")}}
                <span ng-show="passDoesntContainUpperCase() || passDoesntContainLowerCase() || passDoesntContainNumber || passDoesntContainSymbol">{{label("label_password_prerequisites_part2")}}</span>
                <ul>
                    <li ng-show="passDoesntContainUpperCase()">{{label("label_password_one_uppercase")}}</li>
                    <li ng-show="passDoesntContainLowerCase()">{{label("label_password_one_lowercase")}}</li>
                    <li ng-show="passDoesntContainNumber">{{label("label_password_one_number")}}</li>
                    <li ng-show="passDoesntContainSymbol">{{label("label_password_one_symbol")}}</li>
                </ul>
            </div>
        </div>
        <div class="control-group">
            <input ng-model="retypePassword" type="password" id="usr-retype-password" placeholder='{{label("label_retype_password")}}' maxlength="32" required/>
            <ul>
                <li class="text-error" ng-hide="retypePassword == null || password == retypePassword">{{label("label_passwords_doesnt_match")}}</li>
            </ul>
        </div>
        <div class="control-group">
            <div id="usr-password-description">{{label(strengthDesc)}}</div>
            <div id="usr-password-strength" class="img-rounded" ng-class="strengthMetterClass"></div>
        </div>
        <div class="control-group text-center">
            <input id="btn-submit" class="btn" ng-disabled="conditionsDidNotMet()" type="submit" value="{{label('label_submit')}}"/>
        </div>
    </form>
</div>