<div class="row-fluid">
    <form name="forgotpasswd" class="form-horizontal" ng-submit="submitClick()">
        <div class="control-group">
            <input id="usr-email" name="usr-email" type="email" ng-model="userEmail" required placeholder='{{label("label_email")}}'>
        </div>
        <div class="control-group text-center">
            <input id="btn-submit" class="btn" ng-disabled="!forgotpasswd.$valid" type="submit" value="{{label('label_submit')}}"/>
        </div>
    </form>
</div>